<!DOCTYPE html>
<html lang="en" xmlns:th="">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link rel="stylesheet" href="/css/top_header.css"/>
</head>

<body>
<th:block th:fragment="topHeaderFragment">
    <div class="top-header lay-out150">
        <div class="left"></div>
        <div class="right">
            <ul class="info">
                <li>
                    <a href="">내정보</a>
                </li>
                <li>
                    <a href="">로그아웃</a>
                </li>
                <li>
                    <a href="">공지사항</a>
                </li>
                <li>
                    <a href="">동기부여</a>
                </li>
            </ul>
        </div>
    </div>
</th:block>
</body>
</html>