<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>운동 기록</title>

    <link rel="icon" href="/favicon.ico" type="image/x-icon">

    <!-- FullCalendar 및 관련 라이브러리 불러오기 -->
    <script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.14/index.global.min.js'></script>

    <!-- 부트스트랩 및 스타일 시트 불러오기 -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>

    <!-- 커스텀 CSS 파일 불러오기 -->
    <link rel="stylesheet" href="/css/common.css"/>
    <link rel="stylesheet" href="/css/main.css"/>

    <style>
        #calendar {
            max-width: 100%;
            margin: 0 auto;
            padding: 20px;
            height: calc(100vh - 200px); /* 화면의 높이에 맞춰서 조정 */
        }
    </style>
</head>

<body>
<div class="wrapper">
    <header>
        <!-- header -->
        <th:block th:insert="~{fragments/top_header :: topHeaderFragment}"/>
        <!-- nav -->
        <th:block th:insert="~{fragments/nav :: navFragment}"/>
    </header>
    <!-- MODAL -->
    <!-- Button trigger modal -->
    <button type="button" style="display:none" class="btn btn-primary modal_btn" data-bs-toggle="modal" data-bs-target="#exampleModal">
    </button>

    <main>
        <section class="section1">
            <aside class="aside1">
                <div class="aside_div1">
                    광고입니다.
                    <a th:href="@{'/list'}">운동기록보기</a>
                </div>
            </aside>
            <div class="m-1">
                <!-- 달력 Fragment -->
                <th:block th:insert="~{fragments/Calender :: CalenderFragment}"/>
            </div>
            <aside class="aside2">
                <div class="aside_div2">
                    광고입니다.
                </div>
            </aside>
        </section>
        <section class="section2">
            <div>
            </div>
        </section>
    </main>
</div>

<!-- 운동 기록 입력 모달 -->
<form id="workoutForm" method="post" th:action="@{/main}" th:object="${workoutDto}" class="">
    <div class="modal fade" id="workoutModal" tabindex="-1" aria-labelledby="workoutModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="workoutModalLabel">운동 기록 입력</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="mb-3">
                        <input type="hidden" id="workoutDtoId" th:field="*{id}" />
                        <label for="workoutDate" class="form-label">날짜</label>
                        <input type="text" class="form-control" id="workoutDate" th:field="*{date}" readonly>
                    </div>
                    <div clas="mb-3">
                        <label for="workexercise" class="form-label">운동부위</label>
                        <input type="text" class="form-control" id="workexercise" th:field="*{exercise}">
                    </div>
                    <div id="workoutDetails" class="routine">
                        <!-- 초기 운동 종류 입력 필드 -->
                        <div class="mb-3" th:each="detail, stat : *{workoutdetails}">
                            <input type="hidden" id="workoutDetailId" th:field="*{detail.id}" />
                            <label for="'workoutType' + ${stat.index}" class="form-label">운동 종류</label>
                            <input type="text" class="form-control" id="'workoutType' + ${stat.index}" name="workoutdetails[__${stat.index}__].kind" th:field="*{workoutdetails[__${stat.index}__].kind}">
                            <label for="'workset' + ${stat.index}" class="form-label">세트</label>
                            <input type="text" class="form-control" id="'workset' + ${stat.index}" name="workoutdetails[__${stat.index}__].workout_set" th:field="*{workoutdetails[__${stat.index}__].workout_set}">
                            <label for="'workKg' + ${stat.index}" class="form-label">무게</label>
                            <input type="text" class="form-control" id="'workKg' + ${stat.index}" name="workoutdetails[__${stat.index}__].kg" th:field="*{workoutdetails[__${stat.index}__].kg}">
                            <label for="'workNumber' + ${stat.index}" class="form-label">횟수</label>
                            <input type="text" class="form-control" id="'workNumber' + ${stat.index}" name="workoutdetails[__${stat.index}__].number" th:field="*{workoutdetails[__${stat.index}__].number}">
                        </div>
                    </div>
                    <button type="button" class="btn btn-secondary" id="addWorkoutDetail">운동 종류 추가</button>
                    <div class="mb-3">
                        <label for="workoutTime" class="form-label">시간</label>
                        <input type="text" class="form-control" th:field="*{time}">
                    </div>
                    <div class="mb-3">
                        <label for="workoutName" class="form-label">이름</label>
                        <input type="text" class="form-control" th:field="*{name}">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>
                    <button type="submit" class="btn btn-primary" id="saveWorkout">저장</button>
                </div>
            </div>
        </div>
    </div>
</form>

<script>
    document.getElementById('addWorkoutDetail').addEventListener('click', function() {
     var container = document.getElementById('workoutDetails');
     var index = container.children.length; // 현재 항목 개수
     var newWorkoutDetail = document.createElement('div');
     newWorkoutDetail.className = 'mb-3';
     newWorkoutDetail.innerHTML = `
         <div class="mb-3">
             <label for="workoutType${index}" class="form-label">운동 종류</label>
             <input type="text" class="form-control" id="workoutType${index}" name="workoutdetails[${index}].kind" th:field="*{workoutdetails[__${index}__].kind}">
             <label for="workset${index}" class="form-label">세트</label>
             <input type="text" class="form-control" id="workset${index}" name="workoutdetails[${index}].workout_set" th:field="*{workoutdetails[__${index}__].workout_set}">
             <label for="workKg${index}" class="form-label">무게</label>
             <input type="text" class="form-control" id="workKg${index}" name="workoutdetails[${index}].kg" th:field="*{workoutdetails[__${index}__].kg}">
             <label for="workNumber${index}" class="form-label">횟수</label>
             <input type="text" class="form-control" id="workNumber${index}" name="workoutdetails[${index}].number" th:field="*{workoutdetails[__${index}__].number}">
         </div>
     `;
     container.appendChild(newWorkoutDetail);

     // 모달 크기 자동 조정
     var modalContent = document.querySelector('.modal-content');
     modalContent.style.height = modalContent.scrollHeight + 'px';
 });


</script>

</body>
</html>
